<!-- #Benjamin Rarrick
#btr21 3929011
#Project 3
#7/16/18
 -->
<!-- Page to display a list of the available chatrooms -->

{% extends "layout.html" %}
{% block body %}
  {% if user is defined %}
    <div id="myRoomsDiv">
        <h2>Your Chat Rooms</h2>
        <div id='createRoomArea'>
            <h4>Create a chat room</h4>
            <div>
                <input type="text" id="roomName" name="roomName">
                <label for="roomName">Room Name</label>
            </div>
            <button id="createRoom">Create Room</button>
        </div>
        <ul id="myRooms">
        </ul>
        <h4 id="noMyRooms"></h4>
    </div>
    
   
    <div id="otherRoomsDiv">
        <h2>Other Chat Rooms</h2>
        <ul id="otherRooms">
        </ul>
        <h4 id="noOtherRooms"></h4>
    </div>
  {% endif %}
{% endblock %}
